<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hotelku.traveler.hotelku" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <activity
            android:name="com.hotelku.LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hotelku.owner.register.OwnerRegisterActivity"
            android:label="Property Register" >
        </activity>
        <activity
            android:name="com.hotelku.owner.register.OwnerRegister2Activity"
            android:label="Property Detail" >
        </activity>
        <activity
            android:name="com.hotelku.owner.register.OwnerRegister3Activity"
            android:label="Add Room Detail" >
        </activity>
        <activity
            android:name="com.hotelku.owner.register.OwnerRegisterSuccess"
            android:label="Register Success" >
        </activity>
        <activity
            android:name="com.hotelku.owner.OwnerBookingVoucherDetailActivity"
            android:label="Booking Voucher Detail" >
        </activity>
        <activity
            android:name="com.hotelku.owner.OwnerCancelBookingActivity"
            android:label="Cancel Booking" >
        </activity>
        <activity
            android:name="com.hotelku.owner.mainmenu.OwnerMoreTermAndConditionActivity"
            android:label="Guide" >
        </activity>
        <activity
            android:name="com.hotelku.owner.mainmenu.OwnerHuntingGroundActivity"
            android:label="Guest Detail" >
        </activity>
        <activity
            android:name="com.hotelku.owner.OwnerOfferActivity"
            android:label="Offer" >
        </activity>
        <activity
            android:name="com.hotelku.tourist.register.TouristRegisterActivity"
            android:label="Register" >
        </activity>
        <activity
            android:name="com.hotelku.RegisterOptionActivity"
            android:label="Register" >
        </activity>
        <activity
            android:name="com.hotelku.owner.mainmenu.OwnerNavbarActivity"
            android:label="Home" >
        </activity>
        <activity
            android:name="com.hotelku.tourist.mainmenu.TouristNavbarActivity"
            android:label="Home" >
        </activity>
        <activity
            android:name="com.hotelku.tourist.register.TouristRegisterSuccess"
            android:label="Register Success" >
        </activity>
        <activity
            android:name="com.hotelku.tourist.mainmenu.TouristInfoDestActivity"
            android:label="Detail Information" >
        </activity>
        <activity
            android:name="com.hotelku.tourist.mainmenu.TouristBaliActivity"
            android:label="Bali" >
        </activity>
        <activity
            android:name="com.hotelku.tourist.mainmenu.TouristHistoryTab1Fragment"
            android:label="History" >
        </activity>
        <activity
            android:name="com.hotelku.tourist.mainmenu.TouristHistoryTab2Fragment"
            android:label="History" >
        </activity>
        <activity
            android:name="com.hotelku.tourist.mainmenu.TouristEditProfileActivity"
            android:label="Edit Profile" >
        </activity>
        <activity
            android:name="com.hotelku.tourist.mainmenu.TouristTermsCondActivity"
            android:label="Terms and Conditions" >
        </activity>
        <activity
            android:name="com.hotelku.tourist.mainmenu.TouristPolicyActivity"
            android:label="Privacy Policy" >
        </activity>
        <activity
            android:name="com.hotelku.tourist.mainmenu.TouristBookingActivity"
            android:label="Book" >
        </activity>
        <activity
            android:name="com.hotelku.tourist.mainmenu.TouristCancelActivity"
            android:label="Cancel Book" >
        </activity>
        <activity
            android:name="com.hotelku.tourist.mainmenu.TouristNotifDetailActivity"
            android:label="@string/title_activity_tourist_notif_detail" >
        </activity>
    </application>

</manifest>
