<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hotelku.traveler.hotelku" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <activity
            android:name="com.hotelku.LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hotelku.owner.register.OwnerRegisterActivity"
            android:label="Property Register" >
        </activity>
        <activity
            android:name="com.hotelku.owner.register.OwnerRegister2Activity"
            android:label="Property Detail" >
        </activity>
        <activity
            android:name="com.hotelku.owner.register.OwnerRegister3Activity"
            android:label="Add Room Detail" >
        </activity>
        <activity
            android:name="com.hotelku.owner.register.OwnerRegisterSuccess"
            android:label="Register Success" >
        </activity>
        <activity
            android:name="com.hotelku.tourist.register.TouristRegisterActivity"
            android:label="Register" >
        </activity>
        <activity
            android:name="com.hotelku.RegisterOptionActivity"
            android:label="Register" >
        </activity>
        <activity
            android:name="com.hotelku.owner.mainmenu.OwnerNavbarActivity"
            android:label="Home" >
        </activity>
        <activity
            android:name="com.hotelku.tourist.mainmenu.TouristNavbarActivity"
            android:label="Home" >
        </activity>
        <activity
            android:name="com.hotelku.tourist.register.TouristRegisterSuccess"
            android:label="Register Success" >
        </activity>
        <activity
            android:name="com.hotelku.tourist.mainmenu.TouristInfoDestActivity"
            android:label="@string/title_activity_tourist_info_dest" >
        </activity>
        <activity
            android:name="com.hotelku.tourist.mainmenu.TouristBaliActivity"
            android:label="@string/title_activity_tourist_bali" >
        </activity>
        <activity
            android:name="com.hotelku.tourist.mainmenu.TouristHistoryTab1Fragment"
            android:label="@string/title_activity_tourist_history_tab1" >
        </activity>
        <activity
            android:name="com.hotelku.tourist.mainmenu.TouristHistoryTab2Fragment"
            android:label="@string/title_activity_tourist_history_tab2" >
        </activity>
        <activity
            android:name="com.hotelku.tourist.mainmenu.HistoryActivity"
            android:label="@string/title_activity_history" >
        </activity>
        <activity
            android:name="com.hotelku.tourist.mainmenu.TouristEditProfileActivity"
            android:label="@string/title_activity_tourist_edit_profile" >
        </activity>
        <activity
            android:name="com.hotelku.tourist.mainmenu.TouristTermsCondActivity"
            android:label="@string/title_activity_tourist_terms_cond" >
        </activity>
    </application>

</manifest>
